/*
fdb515 gold
003262 blue
*/
:root {
	--hover-color: #b4c5d4;
}

.navbar {
    background-color: #003262;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    background-color: #f03272
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--hover-color);
    border-bottom: #fdb515 solid 2px
}

.navbar-dark .navbar-nav .navbar-brand {
    color: white;
    background-color: #f03272
}

.navbar-dark .navbar-nav .navbar-brand:hover {
    color: var(--hover-color);
}

.navbar-toggler {
    border: none;
}

.bd-footer {
    background-color: #003262;
    padding: 10px;
    color: white;
}

.bd-footer a {
    color: #b4c5d4;
}

.btn {
    background-color: #003262;
    color: white;
    border: none;
}

.btn:hover {
    color: var(--hover-color);
    background-color: #003262;
}

.card-img {
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
}

.card {
    border: none;
    margin-bottom: 20px;
}

a {
    color: #003262;
}
