/*
fdb515 gold
003262 blue
*/
:root {
	--hover-color: #b4c5d4;
}

.navbar {
    background-color: #003262;
}

.navbar-expand-md {
    margin: 0px;
    padding: 0px 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .nav-link {
    color: white;
    padding: 10px;
}

.nav-current{
    box-shadow: inset 0 -3px 0 #fdb515;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    background-color: #254C84;
}

.navbar-dark .navbar-nav .navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .navbar-brand:hover {
    color: var(--hover-color);
}

.navbar-toggler {
    border: none;
}

.bd-footer {
    background-color: #003262;
    padding: 10px;
    color: white;
}


.bd-footer a {
    color: #b4c5d4;
}

.btn {
    margin-bottom: 20px;
    background-color: #003262;
    color: white;
    border: none;
}

.btn:hover {
    color: var(--hover-color);
    background-color: #003262;
}

.card-img {
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
}

.card {
    border: none;
    margin-bottom: 20px;
}

a {
    color: #3B7EA1;
}

.agendaWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.agendaWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400;
}
