/*
fdb515 gold
003262 blue
*/
:root {
    /*b4c5d4*/
	--hover-color: #004075;
    --gold: #fdb515;
    --dblue: #003262;
}


.navbar {
    background-color: #003262;
}

.navbar-expand-md {
    padding: 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding: 15px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-dark .navbar-nav .nav-link .current {
    border-bottom: red solid 1px;
}

.nav-item {
}

.navbar-dark .navbar-nav .nav-item:hover {
    box-sizing: border-box;
    background-color: var(--hover-color);
}

.navbar-dark .navbar-nav .navbar-brand {
    color: white;
}

.navbar-brand{
    padding: 10px
}

/*
.navbar-dark .navbar-nav .navbar-brand:hover {
    color: var(--hover-color);
}
*/

.navbar-toggler {
    border: none;
}


.bd-footer {
    background-color: #003262;
    padding: 10px;
    color: white;
}

.bd-footer a {
    color: #b4c5d4;
}

.btn {
    background-color: #003262;
    color: white;
    border: none;
}

.btn:hover {
    background-color: var(--hover-color);
}

.card-img {
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
}

.card {
    border: none;
    margin-bottom: 20px;
}

a {
    color: #003262;
}
