{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4">About the Organization</h1>
    <p>We are a graduate student organization at UC Berkeley geared towards providing graduate students and postdocs with resources to explore careers in data science.</p>
    <h1 class="display-4">About the team</h1>
    {% block cards %}{% endblock %}
    <br>
    <h2 class="display-4">Former team members</h2>
    {% block formercards %}{% endblock %}
</div>
{% endblock %}