{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4">Contact Us</h1>
    <i class="fa fa-envelope"></i> <a href="mailto:officers@gdso.berkeley.edu">officers AT gdso.berkeley.edu</a><br>
    <i class="fa fa-github"></i> <a href="https://github.com/Graduate-Data-Science-Organization">Graduate-Data-Science-Organization</a><br>
    <i class="fa fa-facebook"></i> <a href="https://www.facebook.com/groups/178142666270151/">GDSO on Facebook</a><br>
    <i class="fa fa-twitter"></i> <a href="https://twitter.com/GDSOBerkeley">GDSOBerkeley</a><br>
    <h3><a href="http://eepurl.com/dfafmH">Subscribe to our list</a></h3>
</div>
{% endblock %}