{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4">Applied Data Science Forum</h1>
    <p>The UC Berkeley Applied Data Science Forum is a <a href='https://data.berkeley.edu/'>Division of Data Science</a> sponsored speaker series with the following main goals:</p>
    <ul>
        <li>To foster discussion among an eclectic group of faculty, students and professionals interested in the application of data science to a wide range of problems.</li>
        <li>To highlight current efforts on campus to apply data science techniques in novel ways.</li>
        <li>To facilitate long-term cohesive collaborations with counterparts outside of the university i.e. in industry, government, and non-profits.</li>
    </ul>

    <p>The Forum is scheduled for Fall 2019 and is being organized in partnership with the <a href='https://gspp.berkeley.edu/student-life/gspp-student-groups/data-in-public-policy'>Data in Public Policy Club</a>, the <a href='https://www.ischool.berkeley.edu/'>School of Information Student Association</a> and the <a href='https://haas.campusgroups.com/dsc/about/'>Haas Data Science Club</a>.</p>

    <h5>If you are interested in participating as a speaker, please <a href="contact.html">get in touch with us</a>!</h5>

    <h5>Subscribe to <a href='http://eepurl.com/dfafmH'>our email list</a> to be kept up-to-date regarding the Applied Data Science Forum.</h5>
</div>

{% endblock %}

    
