{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4">Events</h1>
    The GDSO provides opportunities for graduate students to gain skills and explore careers in data science through the annual <a href="workshop.html">Data Science Workshop</a>, tutorials, project hack nights, speaker events, and site visits with Bay Area tech companies employing data scientists.
    <h4>Subscribe to <a href="http://eepurl.com/dfafmH">our email list</a> to find out about these events as they're scheduled!</h4>
    <hr>
    {% block listevents %}{% endblock %}
    <br><hr><br>
	<iframe src="https://calendar.google.com/calendar/embed?title=Events%20Calendar&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=dj4cjeb2v4cuvhf19ethfnk26c%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}