<div class="row container mx-auto">
<div class="col-md-10">
    <p style="font-size: 0.9em">We are a student group acting independently of the University of California. We take full responsibility for our organization and this site. GDSO is sponsored by <a href="https://www.asuc.org">ASUC</a>. Logo design is based on original photo from <a href="https://www.schreinersgardens.com">Schreiner's Iris Gardens.</a></p>
</div>
<div class="col-md-2">
    <a href="https://www.ocf.berkeley.edu"><img src="img/ocf-hosted-penguin.svg" alt="Hosted by the OCF"/></a>
</div>
</div>

