{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4">Data Science Workshop</h1>
    <h5 class="display-9 text-center">The next DSW will take place in July 27-Aug. 17, 2019</h5>
    <h5 class="display-9 text-center"><a href="https://forms.gle/1RW5PeXqQFQqz3KK7">Apply here</a></h5>
    <h5 class="display-9 text-center">Applications will close at 11:59 Friday, May 17 (deadline extended)</h5>
    <h5 class="display-9 text-center">View content from the 2018 workshop <a href="projects.html">here</a></h5>
    <!--<h5 class="display-9 text-center">-->
        <!--<a class="btn btn-primary btn-med text-center" href="https://goo.gl/forms/g6hL0vL4o5LhUu0l1" role="button">Apply Now</a>-->
    <!--</h5>-->
    <p>The Data Science Workshop is a three-week program where small teams of graduate students and postdocs are paired with mentors from industry to work on a data science project. The workshop is completely free of charge. It was developed to bridge the narrow, but deep gap between academia and industry.</p>
              
    <p>The workshop has occurred annually since 2013, initially spearheaded by the Career Development Initiative in Physical Sciences (<a href="http://cdips.physics.berkeley.edu/">CDIPS</a>). Previous workshop participants have gone on to data science careers at companies like Google, Twitter, Uber, Bayes Impact, Cisco Meraki, Rhumbix, Sojern, Kanjoya, 6sense, Bolt Threads, and ATP Endeavors! Many former participants have also become Insight Data Science Fellows.</p>
              
    <p>The workshop aims to provide participants with three things:</p>
    <ul>
        <li>Familiarity with common practices and concepts in data science</li>
        <li>A concrete experience to show employers</li>
        <li>Contacts in data science</li>
    </ul>

    <h2>Participants</h2>
    The workshop is for UC Berkeley/LBNL graduate students, postdocs, and visiting scholars considering careers in data science. We believe that all can benefit from hands-on experience to make informed career decisions. We expect participants to have some programming experience, but will be hosting a pre-workshop series of tutorials on common data science tools. Most of the workshop events are in the evenings, so participants can still do research while taking part in the workshop. We ask that participants plan to commit at least 20 hours per week to their projects during the program, in addition to attending the opening and closing ceremonies.

    <br><br>

    <h2>Mentors</h2>
    Each team will be assigned a mentor. Mentors are practicing data scientists who will guide students towards completing their project. Mentors are the heart of the workshop. They are the individuals that have the practical knowledge, insight, and experience working with real-world data, and the ability to effectively communicate with their team at work. Their guidance is an invaluable asset to the participants, and is what allows the workshop to be successful.</p>

    <p>Mentors will have the opportunity to:</p>
    <ul>
        <li>Join us at our opening event to meet your mentees and serve on a panel with other mentors.</li>
        <li>Pick a cool project for participants to work on. This might be something useful for their company or something else of interest to the mentor</li>
        <li>Give mentees feedback on how they approach the project and other things they could try.</li>
        <li>Give mentees a sense for what it's like to be a data scientist. Some mentors have invited mentees to their workplace for a site visit.</li>
        <li>Check-in with students twice a week (meeting up, in person, at least once a week would be preferable).</li>
        <li>Give mentees an idea of what the interview process for a data science position is like.</li>
        <li>Join us for final presentations and dinner</li>
    </ul>

    <p>If you are interested in becoming a mentor, <a href="contact.html">get in touch with us</a>!</p>

    <h3>Subscribe to <a href="https://docs.google.com/forms/d/e/1FAIpQLSenPPvg7oA6SXRYtzWA5khomZ3GKXAKBO-evYBidTBYcAFttA/viewform?usp=sf_link">our email list</a> to get the latest news about the Data Science Workshop</h3>
</div>
{% endblock %}