<h1>What does it mean to be a workshop mentor?</h1>
&nbsp;
<div style="color: #222222;">Mentors are the heart of the workshop. They are the individuals that have the practical knowledge, insight, and experience working with real-world data, and the ability to effectively communicate with their team at work. Their guidance is an invaluable asset to the participants, and is what allows the workshop to be successful.</div>
&nbsp;

As a mentor you will have the opportunity to:
<ul>
    <li>Join us at our opening event to meet your mentees and serve on a Q&amp;A panel with other mentors.</li>
    <li>Pick a cool project that may be useful for you. This might be something useful for your company or something fun that you haven't gotten around to trying!</li>
    <li>Give your mentees feedback on how they approach the project and other things they could try.</li>
    <li>Give your mentees a sense for what it's like to be a data scientist. Some mentors have invited mentees to their workplace for a site visit.</li>
    <li>Check-in with students twice a week (meeting up, in person, at least once a week would be preferable).</li>
    <li>Give your mentees an idea of what the interview process for a data science position is like.</li>
    <li>Join us for final presentations and dinner</li>
</ul>

<hr />

<h1>Parking</h1>
If driving, we will provide you with a parking permit.

<hr />

<h1>Facilities</h1>
<p style="color: #404040;">Both rooms are fitted with a projector and screen. You can use your own laptop, or one can be provided for you.</p>
<p style="color: #404040;">If you will be bringing your own laptop, please let us know in advance so we can ensure that we have the correct adaptors for the projector.</p>


<hr />

<h1>Mentees</h1>
The Workshop will be composed of a diverse body of ~30 graduate students or postdocs. They come from a range of disciplines and programming background. You will be a designated mentor to a group of 3 graduate students and/or post-docs.

<hr />

<h1>Contact</h1>
Please contact the organizers at <a href="mailto:cdips-datasci@googlegroups.com">cdips-datasci@googlegroups.com</a> with any questions or concerns regarding the workshop.