{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-4">Data Science Workshop</h1>
    <h5 class="display-9 text-center">The next DSW will take place July 27-Aug. 17, 2019</h5>
    <h5 class="display-9 text-center">View content from the 2018 workshop <a href="projects.html">here</a></h5>
    
    <h2>Pre-workshop Tutorials</h2>
    <h3>July 22-26, 2019, 2-3pm, 251 LeConte Hall</h3>
    These tutorials are an opportunity to bring all workshop participants up to speed on the tools they'll need to succeed throughout the workshop. The tutorials are interactive, so be sure to bring a charged laptop.

    <br><br>

    <h2>Opening Ceremony</h2>
    <h3>July 27, 2019, 1-4pm, Location TBD</h3>
    Meet your team and learn about your project. The tentative schedule for the opening ceremony is as follows:
    <ul>
        <li> 1-2pm: Social with refreshments (optional)</li>
        <li> 2-3pm: Welcome and Keynote from Jackie Brosamer, Data Science Lead at Square and founder of the Berkeley Data Science Workshop</li>
        <li> 3 - 3:30 pm : Mentor Panel (Q&A with mentors)</li>
        <li> 3:30 -     : Teams Meet with Mentors to discuss project goals, etc. (assorted classrooms/preferred meeting locations on campus)</li>
    </ul>

    <br>

    <h2>Closing Ceremony</h2>
    <h3>August 17, 2019, 2-6pm, Location TBD</h3>
    Each team will have 8 minutes to present and demo the projects they worked on throughout the workshop.

    <ul>
        <li> 2-2:30pm: Social</li>
        <li> 2:30-4pm: Presentations</li>
        <li> 4pm-5pm: Guest speaker (TBD)</li>
    </ul>
</div>
{% endblock %}
